@model IList<SharedVm.CategoryVm>


@foreach (var x in Model)
{
 <li class="page-item" style="margin-left:10px"><a class="page-link" asp-action="GetProductByCategory" asp-route-idCategory="@x.Id" asp-controller="Product">@x.Name</a></li>
}
